# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

#mac stuff
*.DS_Store
.Rproj.user

#paid stuff
proj_data/pecota.rds
proj_data/pod.rds
proj_data/bp.rds

of.csv
ss.csv
